<div>
  <p> List of keys in config
  </p>
  <pre>{{getConfigKeys() | json}}</pre>
</div>
<div>
  <p> Config for name 'email'
  </p>
  <pre>{{getConfigByName('email') | json}}</pre>
</div>
<div>
  <p> Config as full object
  </p>
  <pre>{{getConfig() | json}}</pre>
</div>
<div>
  <p> ConstantsService
  </p>
  <pre>{{getConstantsService() | json}}</pre>
</div>

<div >
  <p> Random pass
  </p>
  <pre>{{generatePass()}}</pre>
</div>

<div fontSizeIncrease="14" mouseOverHighlight="LightGray">
  <h5> Font size increase (click me)</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

</div>

